<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">

        <!--navigation bar-->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MyStyle</a>
        </div>


        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a>
                </li>
                <li><a href="http://localhost:4200/search">Find a freelancer</a>
                </li>
                <li><a href="##">My schedule</a>
                </li>
                <li><a href="##">My chat</a>
                </li>
                <li><a href="##">Edit profile</a>
                </li>
                <li><a href="##">History</a>
                </li>
            </ul>
        </div>
    </div>
</div>