<!--header-->
<app-header></app-header>
<hr>
<hr>


<!--statcontainer-->
<div class="container">
    <div class="w3-card-4 col-md-12">
        <app-statcontainer></app-statcontainer>
    </div>

</div>

<hr>

<div class="container">
    <app-top-rated-freelancers></app-top-rated-freelancers>

    <div class="w3-card-4 col-md-12">
        <div class="searchmore">
            <h3>Do you want to find more Freelancers ? <a href="http://localhost:4200/search">Click here</a></h3>
        </div>
    </div>


</div>