.card{
    background-color: rgb(226, 226, 226);
    height: 9cm;
    width : 95%;
    border-radius: 25px;
}



.left{
    left:0;
}

.right{
    right:0;
}

.image{
    height:6cm;
    width:6cm;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}
.col-md-3{
    left:0;
}
.col-md-8{
    background-color:rgba(241, 253, 255, 0.904);
    margin-left:1cm;
    height:7cm;
    margin-top: .5cm;
    border-radius: 1%;
}
.price{
    color: rgb(199, 62, 62)
}

.btn{
    align-content: center;
    width: 4cm;
    background-color:#15949A;
   
}