


<!--profile container-->
<div class="container">

    <!--Image -->
    <div class="col-md-3">
        <hr>
        <img class="image" src="{{ProfileDetails.ImageURL}}">
    </div>



    <!--details card-->
    <div class="card">
        <div class="details">
            <hr>
            <div>
                <h5>Name:<span>&nbsp;{{ProfileDetails.FreelancerName}}</span></h5>
            </div>
            <div>
                <h5>Address:<span>&nbsp;{{ProfileDetails.FreelancerAddress}}</span></h5>
            </div>
            <div>
                <h5>Phone:<span>&nbsp;{{ProfileDetails.FreelancerPhone}}</span></h5>
            </div>
            <div>
                <h5>Description:<span>&nbsp;{{ProfileDetails.FreelancerDescription}}</span></h5>
            </div>
            <div>
                <h5>Experience:<span>&nbsp;{{ProfileDetails.FreelancerRegDate}}</span></h5>
            </div>
            <div>
                <h5>Session Price:<span class="price">&nbsp;${{ProfileDetails.FreelancerSessionPrice}}</span></h5>
            </div>


        </div>


    </div>


    <br>


 </div>   

<!--Freelancer stats-->
<div class="col-md-12">
    <hr size="2px" color="black">

    <!--Feedback section-->
    <div class="col-md-6">
        <div class="feedback">
            <h3 class="title">Feedbacks</h3>
               
        </div>
        
    </div>

    <div class="col-md-6">
        <h3 class="title">Top Hairstyles</h3>

    </div>
</div>